{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "no-mixed-operators": 0,
    "no-plusplus": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-filename-extension":0,
    "react/forbid-prop-types": 0,
    "no-multi-assign": 0,
    "no-param-reassign": 0,
    "no-continue": 0,
    "no-bitwise": 0
  },
  "ecmaFeatures": {
    "classes": true,
    "jsx": true
  },
  "globals": {
    "document": true,
    "window": true,
    "Image": true,
    "URL": true,
    "alert": true
  }
}
