$main-bg-color: #f1f2f0;
$accent-blue: #37bbe4;
$accent-gray: #e1e0dd;
$accent-black: #35342f;
$accent-orange: #ec6b2d;
$accent-red: #dd6464;

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: $main-bg-color;
  color: $accent-black;
  font-family: Sans-Serif, helvetica;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

button:focus {
  outline:0;
}

.tool-button {
  font-family: Sans-Serif, helvetica;
  font-size: 15px;
  padding: 5px 10px;
  background-color: white;
  -webkit-appearance: none;
  height: 32px;
  min-width: 32px;
  line-height: 100%;
  float: left;
  border: none;
  cursor: pointer;
  color: black;
  a {
    color: black;
    text-decoration: none;
    &:active {
      color:white;
    }
  }
  &:active {
    color:white;
    background-color:black
  }

  &[disabled] {
    cursor: default;
  }
}

.main-app-container {
}

.main-app-nav {
  font-size: 2em;
  text-align: center;
}

.counter-num-label {
  color: $accent-orange;
  padding-top: 1em;
  font-size: 3em;
  text-align: center;
  width: 100%;
}

.counter-even-label {
  padding-top: 1em;
  font-size: 0.75em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.counter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3em;

  button {
    border: none;
    height: 30px;
    width: 80px;
    margin-left: 1em;
    margin-right: 1em;

    &:hover {
      background-color: $accent-gray;
    }
  }
}

footer {
  font-size: 0.75em;
  text-align: center;
  padding-top: 10em;

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      color: $accent-blue;
    }
  }

  #heart{
    color: $accent-red;
  }
}

.sliders {
  float:left;
  clear: both;
  width: 100%
}

.slider-container {
  float: left;
  margin-top: 10px;
  width: 50%;

  box-sizing: border-box;
  padding-right: 16px;
  label {
    margin-top: 10px;
  }
}

@import 'slider';
