.rheostat {
  overflow: visible;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rheostat-background {
  border: none;
  border-bottom: 1px solid black;
  position: relative;
}

.rheostat-progress {
  background-color: #abc4e8;
  position: absolute;
}

.rheostat-handle {
  background-color: black;
  border: none;
  border-radius: 50%;
  height: 16px;
  outline: none;
  z-index: 2;
  width: 16px;
  margin: -9px 0 0 0px;
}

.rheostat-handle:before,
.rheostat-handle:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #dadfe8;
}
